[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"botus_receptus" = {ref = "master", git = "https://github.com/bryanforbes/botus_receptus", editable = true, extras = ["db"]}
"discord.py" = {ref = "8c18bf868e47740e8ae1c2fb2741b3482412efab", git = "https://github.com/bryanforbes/discord.py", editable = true, extras = ["typings", "voice"]}
aiodns = "*"
alembic = "*"
cchardet = "*"
uvloop = "*"
psycopg2 = "*"
gino = "*"

[dev-packages]
flake8 = "*"
mypy = ">=0.610"
pytest = ">=3.6.1"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mock = "*"
pytest-mypy = "*"
sqlalchemy-stubs = {editable = true, ref = "add-sql-typings-2", git = "https://github.com/bryanforbes/sqlalchemy-stubs.git"}
gino-stubs = {editable = true, ref = "master", git = "https://github.com/bryanforbes/gino-stubs.git"}

[requires]
python_version = "3.7"

[scripts]
check = "mypy krazon"
