[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"botus_receptus" = {ref = "master", git = "https://github.com/bryanforbes/botus_receptus", editable = true, extras = ["db"]}
"discord.py" = {ref = "b4f22c3e30438505766750e1f0ec0d14b7b12408", git = "https://github.com/bryanforbes/discord.py", editable = true, extras = ["typings"]}
aiodns = "*"
alembic = "*"
cchardet = "*"
uvloop = "*"
psycopg2 = "*"
pynacl = "*"

[dev-packages]
flake8 = "*"
mypy = ">=0.610"
pytest = ">=3.6.1"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mock = "*"
pytest-mypy = "*"

[requires]
python_version = "3.7"
